* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin-right: 0.5%;
  line-height: 1.9;
  letter-spacing: 0.8px;
  font-size: 14px;
  position: relative;
  /* background-color: #054468; */
  /* background-color: #00090e; */
  /* background-color: #27ae5f; */
  background: #2d2d31;
  color: #ffffffdc;
  font-weight: 500;
  background-image: linear-gradient(#131414, #0d0d0e52), url(./img/images.jfif);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  /* color: gray; */
}

.main_page-content--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 98%;
}

.top_navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 1%;
  background: #0544688f;
  background-color: #161616;
  /* border: #b5babd41 solid 1px; */
  padding: 10px 20px;
}

.profile {
  display: flex;
  align-items: center;
  flex: 1;
}
.sidebar_nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #fff;
  flex: 2;
}
.nav_links {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff94;
  font-weight: 500;
  transition: all 0.6s;
}

.nav_links:hover {
  color: orangered;
  /* background-color: #fff; */
}
.nav_links-active {
  color: #c69963 !important;
  border-bottom: 1px solid #c69963 !important;
}

.main_header-wrapper {
  align-items: center;
  width: 100%;
  padding: 1%;
  margin-top: 10%;
}
.main_hd {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}
.main_header-1 {
  align-self: center;
  text-align: center;

  justify-self: center;
  flex: 2;
}
.main_header-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}
.main_header-p {
  margin-bottom: 20px;
  /* border: solid 1px #2d2d31; */
}
.front_end {
  text-transform: capitalize;
  font-size: 34px;
  letter-spacing: 8px;
}
.web_developer {
  font-size: 18px;
}
.main_header-buttons {
  width: auto;
  align-items: baseline;
  display: flex;
  gap: 30px;
}

.download_cv-btn {
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s;
  font-size: 16px;
  color: #ffffff94;
  color: orangered;
  cursor: pointer;
}

.download_cv-btn:hover {
  color: #ffffff94;
}

.view_skills {
  /* position: absolute;
  right: 20px; */
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  transition: all 0.5s;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  background-color: #ffffff95;
  background-color: orangered;
  cursor: pointer;
  display: inline-block;
}

.view_skills:hover {
  background: #ffffffc2;
  color: orangered;
}

#about_me-wrapper {
  width: 90%;
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 200px;
}

.about_me {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.about_me-1 p,
h4 {
  font-weight: 600;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px 30px;
  background-color: #6361613a;
  text-align: center;
  width: fit-content;
}

.hello_aboutme {
  color: #ff4400c2;
  font-weight: 600;
}

.about_image {
  height: 100%;
  width: auto;
}

#mission {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 300px;
  padding-top: 6%;
  width: 90%;
}

#achievements_wrapper {
  margin-top: 200px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 6%;
}

.achievements_list ul li span:first-child {
  font-weight: 900;
}

.achievements_list ul {
  text-align: start;
  list-style: none;
}
.achievements_list ul li {
  margin-bottom: 40px;
}
.achievements_list ul li:last-child {
  margin-bottom: 0;
}
#experience_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  margin-top: 200px;
  padding-top: 6%;
}

.experience_list_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.exp_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.experience_list {
  display: flex;
  gap: 20px;
  align-items: center;
  border: #353535bd solid 1px;
  padding: 10px;
}

.experience_list div ul {
  list-style: none;
}

.experience_list div ul li:first-child {
  font-weight: 900;
}

#projects_section-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 200px;
}

.projects_title {
  width: fit-content;
}

h5 {
  text-align: center;
  font-size: 20px;
}
.projects_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.projects_images {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.projects_images:hover {
  /* cursor: pointer; */
  pointer-events: none;
}

.skills_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.modal {
  position: absolute;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff7f7;
  color: #000000;
  font-size: 14px;
  padding: 30px 20px;
  width: 90%;
  top: 2%;
}
.skills_images {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.skill_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: gray 1px solid;
  padding: 10px 20px;
}
.skill_listing li {
  margin-top: 10px;
  list-style: square;
}

.close_button {
  position: absolute;
  right: 3px;
  top: -5px;
  font-size: 40px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  color: red;

  /* display: none; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1616167a;
  backdrop-filter: blur(5px);
  /* z-index: 2; */
}

.hidden {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s, visibility 3s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(176, 165, 179);
  border-top-color: rgb(2, 88, 128);
  border-radius: 50%;
  animation: loading 3s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
#check {
  display: none;
}

.checkbtn {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 12px;
  }
  .fa {
    display: none;
  }
  /* .top_navigation-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
  } */
  .nav_links {
    font-size: 10px;
  }
  .contact_info {
    flex-direction: column;
    align-items: flex-end;
  }
  .front_end {
    font-size: 24px;
  }
  .web_developer {
    font-size: 12px;
  }
  #about_me-wrapper {
    padding: 10px 10px;
    width: auto;
    flex-direction: column;
  }
  .about_me {
    display: flex;
    width: auto;
    flex-direction: column;
  }
  #experience_wrapper {
    padding: 20px;
  }

  .profile {
    width: auto;
  }

  .profile_pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .projects_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar_nav-list {
    width: 100%;

    padding: 10px 10px;
  }
}

@media screen and (max-width: 680px) {
  body {
    font-size: 10px;
    margin-right: 0;
    width: 100vw;
    /* padding: 3px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .checkbtn {
    display: block;
  }

  .top_navigation-wrapper {
    /* display: none; */
    position: relative;
    height: fit-content;
    width: 100%;
    margin: 0;
    /* /* position: sticky; */
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    /* border: #000000 solid 2px; */
  }

  .profile {
    display: flex;
    margin-bottom: 0;
    /* align-items: center; */
  }

  .view_skills {
    font-size: 14px;
    padding: 5px;
  }
  .download_cv-btn {
    font-size: 14px;
  }
  .sidebar_nav-list {
    width: 100%;

    padding: 0;
    font-size: 6px;
    display: block;
    display: none;

    grid-template-columns: repeat(2, 1fr);
  }
  .contact_info {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    gap: 20px;
  }
  .main_header-wrapper {
    width: 100%;
  }
  .main_hd {
    width: 100%;
    text-align: center;
  }
  .main_header-buttons {
    /* text-align: center; */
    align-self: center;
    gap: 20px;
  }
  .main_header-1 {
    display: none;
  }
  .front_end {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .web_developer {
    font-size: 10px;
    /* padding: 0 10px; */
  }

  .main_page-content--wrapper {
    margin: 0;
    padding: 0;
  }
  #about_me-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
  }
  .about_me {
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    padding: 0;
  }
  .about_image-pic {
    width: 200px;
    height: auto;
  }
  #mission {
    padding-top: 20px;
    margin-top: 40px;
  }
  .projects_list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #achievements_wrapper {
    padding: 20px 20px;
    /* margin-bottom: 0; */
    margin: 50px 0;
  }
  #experience_wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
  }
  .experience_list {
    align-items: flex-start;
    gap: 5px;
  }
  .exp_images-div {
    flex: 0;
  }
  .exp_image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .experience_list-div {
    flex: 2;
  }
  #projects_section-wrapper {
    padding-top: 25px;
    margin: 50px 0;
    width: 100%;
  }
  .projects_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects_images {
    width: 300px;
    height: 200px;
    border-radius: 5%;
  }
}
