* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin-right: 0.5%;
  line-height: 1.4;
  letter-spacing: 0.05em;
  font-size: 14px;
  position: relative;
  /* background-color: #054468; */
  background-color: #27ae5f;
  background: #2d2d31;
  /* background-color: #080808; */

  color: #fffffff3;
  font-weight: 500;
  /* background-image: linear-gradient(#1314144d, #05050500), url(); */
  /* background-position: center; */
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* color: gray; */
}

.main_page-content--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 98%;
}

.top_navigation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* margin: 0 1% !important; */
  background: #0544688f;
  background-color: #2d2d31;

  border-bottom: #ffffff41 solid 1px;
  padding: 10px 2%;
  /* border: #ff4400 solid 2px; */
}

.profile {
  display: flex;
  align-items: center;
  flex: 1;
}
.sidebar_nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  /* gap: 25px; */
  list-style: none;
  color: #fff;
  flex: 2;
}
.mobile_menu {
  margin: 15% 0;
  display: none;
  list-style: none;
  /* border: #ffffff25 solid 1px; */
  /* padding: 5% 10%; */
  /* width: 80%; */
  /* text-align: center; */
  position: relative;
}
.mobile_menu-links {
  list-style: none;
}

.nav_links {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  color: #ffffff94;
  color: #ffffff86;

  font-weight: 700;
  transition: all 0.6s;
}

.nav_links:hover {
  color: orangered;
  /* background-color: #fff; */
}
.nav_links-active {
  color: #c69963 !important;
  border-bottom: 1px solid #c69963 !important;
}
.btn-arrow {
  border: none;
  background: none;
  color: #fffffff3;
  font-weight: 800;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main_header-wrapper {
  align-items: center;
  width: 100%;
  padding: 2% 6%;
  margin-top: 10%;
  /* height: 60vh; */
}
.main_hd {
  width: 100%;
  display: flex;
  font-size: 16px;
  color: #fffffff3;

  /* justify-content: space-between; */
}
.main_header-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 2;
}
.main_header-2 {
  align-self: flex-end;
  text-align: end;

  justify-self: center;
  flex: 1;
  font-size: 18px;
}
.main_header-2-spans {
  font-weight: 900;
  font-size: 20px;
}
.home_image-div {
  width: 100%;
  margin-top: 50px;
  border-bottom: #ffffff41 solid 1px;
  padding-bottom: 5%;
}
.home_image {
  width: 70%;
  height: 300px;
}
.main_header-p {
  margin-bottom: 20px;
  /* border: solid 1px #2d2d31; */
}
.front_end {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 4px;
  /* font-weight: 100; */
}
.web_developer {
  font-size: 18px;
}
.main_header-buttons {
  width: auto;
  align-items: baseline;
  display: flex;
  gap: 30px;
}

.download_cv-btn {
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s;
  font-size: 16px;
  color: #ffffff94;
  color: orangered;
  cursor: pointer;
}

.download_cv-btn:hover {
  color: #ffffff94;
}

.view_skills {
  /* position: absolute;
  right: 20px; */
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  transition: all 0.5s;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  background-color: #ffffff95;
  background-color: orangered;
  cursor: pointer;
  display: inline-block;
}

.view_skills:hover {
  background: #ffffffc2;
  color: orangered;
}

#about_me-wrapper {
  width: 90%;
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 200px;
  padding-top: 6%;
}

.about_me {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.about_me-1 p,
h4 {
  font-weight: 600;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px 30px;
  background-color: #6361613a;
  text-align: center;
  width: fit-content;
}

.hello_aboutme {
  color: #ff4400;
  font-weight: 600;
}

.about_image {
  height: 100%;
  width: auto;
}

.about_image-pic {
  width: 100%;
  height: auto;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
}

#mission {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 300px;
  padding-top: 6%;
  width: 90%;
}

#achievements_wrapper {
  margin-top: 200px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 6%;
}

.achievements_list ul li span:first-child {
  font-weight: 900;
}

.achievements_list ul {
  text-align: start;
  list-style: none;
}
.achievements_list ul li {
  margin-bottom: 40px;
}
.achievements_list ul li:last-child {
  margin-bottom: 0;
}
.right_arrow {
  margin-right: 6px;
}
#experience_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  margin-top: 200px;
  padding-top: 6%;
}

.experience_list_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.exp_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.experience_list {
  display: flex;
  gap: 20px;
  align-items: center;
  border: #353535bd solid 1px;
  padding: 10px;
}

.experience_list div ul {
  list-style: none;
}

.experience_list div ul li:first-child {
  font-weight: 900;
}

#projects_section-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 200px;
  padding-top: 6%;
}

.projects_title {
  width: fit-content;
}

h5 {
  text-align: center;
  font-size: 20px;
}
.projects_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.projects_images {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.projects_images:hover {
  /* cursor: pointer; */
  pointer-events: none;
}

#contact_me-wrapper {
  width: 80%;
  margin-top: 300px;
  margin-bottom: 100px;
  border: #ffffff13 solid 1px;
  background-color: #ff440018;

  /* background-color: #0000006c; */
  /* background-image: url(./img/images.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  border-bottom-left-radius: 20%;
  padding: 5%;
}
.contact_me {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffff;

  padding: 20px;
}
.contact_me-email {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}
.email--1 {
  font-size: 18px;
  font-weight: 800;
}
.email--3 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  /* border: #000000 solid 1px; */
}

.contact_me-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.mail_img-wrapper {
  align-items: center;
}
.mail {
  align-items: center;
}

.email {
  color: orangered;
}
.contact_me-form {
  flex: 2;
}

.message_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: #f1f1f12d solid 1px;
  padding: 20px;
  border-radius: 20px;
}
.input_bg {
  background-color: #5e5c5b54;
  border: none;
  height: 40px;
  color: #fff;
  padding: 5px;
}
.inputm_bg {
  background-color: #5e5c5b54;

  border: none;
  height: 80px;
  color: #fff;
  padding: 5px;
}

.submit_b {
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  transition: all 0.6s;
  background-color: #c7c7c7;
  font-weight: 700;
}
.submit_b:hover {
  background-color: orangered;
}
.skills_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.modal {
  position: absolute;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff7f7;
  color: #000000;
  font-size: 14px;
  padding: 30px 20px;
  width: 90%;
  top: 2%;
}
.skills_images {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.skill_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: gray 1px solid;
  padding: 10px 20px;
}
.skill_listing li {
  margin-top: 10px;
  list-style: square;
}

.close_button {
  position: absolute;
  right: 3px;
  top: -5px;
  font-size: 40px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  color: red;

  /* display: none; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1616167a;
  backdrop-filter: blur(5px);
  /* z-index: 2; */
}

.hidden {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s, visibility 3s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(228, 223, 230);
  border-top-color: rgb(2, 88, 128);
  border-top-color: orangered;
  border-radius: 50%;
  animation: loading 3s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
#check {
  display: none;
}

.checkbtn {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 12px;
  }
  .fa {
    display: none;
  }
  /* .top_navigation-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
  } */
  .nav_links {
    font-size: 10px;
  }
  .contact_info {
    flex-direction: column;
    align-items: flex-end;
  }
  .front_end {
    font-size: 18px;
  }
  .web_developer {
    font-size: 10px;
  }
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .main_header-wrapper {
    padding: 2%;
  }
  .home_image-div {
    padding: 2%;
  }
  .home_image {
    width: 100%;
    height: 200px;
    pointer-events: none;
  }

  .main_header-2 {
    font-size: 14px;
  }
  #about_me-wrapper {
    padding: 10px 10px;
    width: auto;
    flex-direction: column;
  }
  .about_me {
    display: flex;
    width: auto;
    flex-direction: column;
  }
  #experience_wrapper {
    padding: 20px;
  }

  .profile {
    width: auto;
  }

  .profile_pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .projects_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar_nav-list {
    width: 100%;

    padding: 10px 10px;
  }

  .modal {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  body {
    font-size: 10px;
    margin-right: 0;
    width: 100vw;
    /* padding: 3px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .main_page-content--wrapper {
    margin: 2%;
    padding: 1%;
    width: 94%;
    font-size: 12px;
  }
  .checkbtn {
    display: block;
  }

  .top_navigation-wrapper {
    /* display: none; */
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: space-between;
    /* height: fit-content; */
    width: 100%;
    padding: 2% 4%;
    /* position: fixed; */
  }

  .profile {
    display: flex;
    margin-bottom: 0;
    /* align-items: center; */
  }

  .view_skills {
    font-size: 0.9rem;
    padding: 5px 10px;
    text-transform: capitalize;
  }
  .download_cv-btn {
    font-size: 0.9rem;
    text-transform: capitalize;
  }
  .sidebar_nav-list {
    display: none;
  }
  .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .main_header-wrapper {
    margin-top: 50px;
    width: 100%;
    height: auto;
  }
  .main_hd {
    flex-direction: column;
    width: 100%;
    gap: 50px;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .main_header-buttons {
    width: 100%;
    /* text-align: center; */
    align-self: center;
    gap: 100px;
  }
  /* .hola {
    align-self: flex-start;
  } */
  .main_header-1 {
    gap: 10px;
    letter-spacing: 0.05em;
  }
  .main_header-2 {
    display: block;
  }
  .front_end {
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .web_developer {
    font-size: 16px;
    color: #c7c7c7;
    letter-spacing: 0.05em;
  }

  .home_image-div {
    padding: 2%;
  }
  .home_image {
    width: 100%;
    height: 100px;
    pointer-events: none;
  }
  #about_me-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
  }
  .about_me {
    display: flex;

    width: 100%;
    margin-top: 50px;
    padding: 0;
  }
  .about_image-pic {
    width: 200px;
    height: auto;
  }
  #mission {
    padding-top: 60px;
    margin-top: 40px;
  }
  .projects_list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .contact_me-email {
    gap: 10px;
  }
  .email--1 {
    font-size: 16px;
  }
  .email--3 {
    display: none;
  }
  .contact_me {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* width: 80%; */
  }
  .contact_me-image {
    width: 30px;
    height: 30px;
  }

  #achievements_wrapper {
    padding: 20px 10px;
    padding-top: 60px;
    /* margin-bottom: 0; */
    margin: 50px 0;
  }
  #experience_wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 60px;

    margin-top: 10px;
  }
  .experience_list {
    align-items: flex-start;
    gap: 5px;
  }
  .exp_images-div {
    flex: 0;
  }
  .exp_image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .experience_list-div {
    flex: 2;
  }
  #projects_section-wrapper {
    padding-top: 60px;
    margin: 50px 0;
    width: 100%;
  }
  .projects_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects_images {
    width: 300px;
    height: 200px;
    border-radius: 5%;
  }
  .modal {
    grid-template-columns: 1fr;
  }
  .checkbtn {
    background-color: #2d2d31;
    color: #fff;
    border: none;
  }
  .mobile_menu {
    margin: 0%;
    transition: all 0.5s;
  }
  .mobi {
    margin-top: 20px;
    font-size: 16px;
  }
  .close_mobile-view {
    position: absolute;
    top: 4%;
    right: 2px;
    background: none;
    color: #fff;
    border: none;
    font-size: 36px;
    cursor: pointer;
  }
}
